@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

input {
  all: unset;
  appearance: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}
/* Responsive Style */
@media only screen and (max-width: 600px) {
  .RouterStayel {
    justify-content: center;
  }
  .Main_head {
    width: 100%;
  }
  .MenuBarD {
    float: left;
    margin-top: 5px;
    background-color: #04aaff;
    /* display: none; inline conditonal css*/
    width: 80px;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    font-size: large;
  }
  .Navigation {
    /* display: none; */
    width: 0%;
  }
  .Navigation nav {
    background: #404040;
    z-index: 1;
  }
  .Right_Side {
    display: none;
  }
  .Home_Page {
    display: contents;
  }
  .Main_Talim {
    width: 100%;
    overflow: hidden;
  }
  .ProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
  }
  .nweet {
    width: 100%;
  }
  .That_parson img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .factoryInput__input {
    padding: 0px 8px;
  }
  .That_Post {
    margin-left: 52px;
    width: 78%;
  }
  .That_Post img {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .Home_Page {
    display: flex;
  }
  .NavMenu {
    display: none;
  }
  .Main_head {
    width: 599px;
  }
  .MenuBarD {
    display: none;
  }
  .Navigation {
    width: 24%;
  }
  .Navigation nav {
    left: 5%;
  }
  .Main_Talim {
    width: 67%;
    border-right: 1px solid #ffff;
    border-left: 1px solid #ffff;
  }
  .ProfilePicture {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nweet {
    width: 600px;
  }
  .That_parson img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .factoryInput__input {
    padding: 0px 20px;
  }
  .That_Post {
    margin-left: 70px;
    width: 530px;
  }
  .That_Post img {
    width: 500px;
  }
}
.NavMenu {
  z-index: 5;
  position: fixed;
  padding: 7px 15px;
  font-size: 20px;
  border-radius: 50px;
  background-color: #1c9aef;
}
.Main_head h1 {
  float: left;
  padding-top: 5px;
}
.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  font-size: 20px;
}
/* AppRouter Style Start */
.RouterStayel {
  align-items: flex-start;
  display: flex;
}
.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 80%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  margin: 12px 32px;
  font-size: larger;
}
.formBtn {
  cursor: pointer;
  width: 80%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}
.Home_Page {
  width: 905px;
}
/* Profile From Edit Section */
.Profile_Container {
  background-color: #ffffff69;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
}
.Profile_Container h1 {
  font-size: large;
  margin-top: 10px;
}
.profileForm {
  padding-bottom: 30px;
  width: 100%;
}
img.Edit_Pro_img {
  width: 300px;
  height: fit-content;
  margin-top: 10px;
}
/* profile pictute and User Avata Css */

img.User_Avater {
  left: -44px;
  top: -13px;
}

.logOut {
  margin-top: 50px;
}
/* Right Site Design */
.Right_Side {
  height: 53px;
  width: 303px;
}
.Search_p {
  background: rgb(0, 0, 0);
  height: 52px;
  width: inherit;
  position: fixed;
}
.Searchbar {
  margin-top: 5px;
  position: fixed;
  padding: 9px 18px;
  border: 1px solid #95a8b4;
  border-radius: 50px;
  width: 23%;
  margin-left: 18px;
  font-weight: 400;
  font-size: initial;
}
.Searchbar:hover {
  background-color: #ffffff29;
  border: 1px solid #1c9aef;
}
.Searchbar input {
  margin-left: 10px;
}
.TrandTropic {
  margin-top: 60px;
  margin-left: 19px;
  background: #16181c;
  padding: 20px 10px;
  border-radius: 10px;
}
.TrandTropic h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.TTropic {
  margin-bottom: 10px;
}
.TTropic p {
  color: rgb(113, 118, 123);
}
.TTropic h3 {
  font-size: 17px;
  margin: 2px 0;
}

.WTFollow {
  margin-top: 12px;
  margin-left: 19px;
  background: #16181c;
  padding: 20px 10px;
  border-radius: 10px;
}
.WTFollow h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.FollowParson {
  width: 263px;
  height: 68px;
}
.FollowParson img {
  float: left;
}
.Parson_name {
  float: left;
  margin-top: 5px;
}
.FollowParson button {
  margin-top: 10px;
  margin-left: 6px;
  padding: 5px 14px;
  border-radius: 50px;
}
/* Nwitter Factory */
.TalemPost {
  margin-top: 50px;
  border-bottom: 1px solid #fff;
}
.factoryForm {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 10px 12px;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput_arrow {
  background-color: #04aaff;
  border-radius: 50px;
  height: 30px;
  color: #ffff;
  float: right;
  padding: 0px 26px;
  margin-right: 30px;
}
.factoryInput__label {
  color: #04aaff;
  height: 30px;
}
.factoryInput__label li {
  float: left;
  margin-left: 5px;
}
.factoryForm__attachment {
  text-align: center;
}

.factoryForm__attachment img {
  width: 150px;
}

.factoryForm__clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}
/* Nweet */

.nweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
}
/* nweet Post Area Style */
.nweet {
  position: relative;
  display: flex;
  border-bottom: 1px solid #ffff;
  padding: 14px 0px;
}
.That_parson img {
  border-radius: 50%;
  float: left;
}
.parsonName {
  float: left;
  font-size: large;
  margin-right: 5px;
  margin-top: 2px;
}
.postDate {
  margin-top: 6px;
  color: #9b9b9b;
  float: left;
}
.That_Post {
  margin-top: 40px;
  overflow: hidden;
}
.That_Post h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
.That_Post img {
  height: 100%;
  margin-right: 6px;
}
/* navigation Secttion Css */

/* .Navigation {
  width: 24%;
} */
.Navigation nav {
  position: fixed;
}
#homeIcon {
  width: fit-content;
  padding: 9px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out 0s;
}
#homeIcon:hover {
  background-color: #ffffff24;
}
.Navigation li {
  padding: 10px 17px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  border-radius: 50px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.Navigation li:hover {
  background-color: #ffffff24;
}
.NavIcon {
  float: left;
  width: 47px;
}
.Navigation span {
  color: white;
  float: left;
  font-size: 20px;
  margin-top: 5px;
  font-weight: 100;
}
.TopTweet {
  margin-top: 40px;
}
.TopTweet span {
  background-color: rgb(29, 155, 240);
  width: 200px;
  text-align: center;
  height: 35px;
  padding-top: 6px;
  border-radius: 50px;
}
/* main Area Style Section */

.Main_head {
  z-index: 3;
  font-size: 25px;
  padding-left: 7px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  height: 42px;
}
.Main_head span {
  float: right;
  font-size: 11px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 9px;
  margin-right: 5px;
  transition: all 0.2s ease-in-out 0s;
}
.Main_head span:hover {
  background-color: #ffffff24;
}
.NaveBotttom {
  height: 56px;
  margin-top: 155px;
  width: 200px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out 0s;
}
.NaveBotttom:hover {
  background-color: #ffffff24;
}
.NaveBotttom span {
  float: left;
  margin-left: 5px;
}
.NaveBotttom h1 {
  float: left;
  font-size: 15px;
  margin-left: 6px;
  margin-top: 10px;
  width: 116px;
}

.nweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}
.nweet__actions span {
  cursor: pointer;
}

.nweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */
.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  box-sizing: content-box;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}
